body{
    background-image: url(img/img1.jpg);
    background-repeat: no-repeat;
    background-size:cover;

}
.main{
    background-color: #f7f7f7;
    margin-top: 5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 0 10px 10px;
    width: 15rem;
    border-radius: 10px;
}

.content{
    margin-top: 5rem;
}
  